/* Terminal output formatting */

.output_stdout, .output_stderr {
    background-color: #1e1e1e; /* Dark background color */
    color: #d4d4d4; /* Light text color */
    font-family: "Courier New", Courier, monospace; /* Monospace font */
    padding: 10px; /* Some padding for better readability */
    border-radius: 5px; /* Rounded corners */
}

.output_stderr {
    color: #f48771; /* Red text for errors */
}

.output_stdout .copybtn, .output_stderr .copybtn {
    display: none;
}


/* Button to expand images to full screen */
button.expand-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}


.alert.alert-box h3, h4 {
    margin: 0.5rem 0 0.05rem 0;
}
